@charset "UTF-8";
/* CSS Document */

/* General */
body {
	margin: 0;
	padding: 0;
	padding: 2.25em 1.6875em;
	background-image: -webkit-repeating-linear-gradient(135deg, rgba(105,221,118,.3), rgba(105,221,118,.3) 1px, transparent 2px, transparent 2px, rgba(105,221,118,.3) 3px);
	background-image: -moz-repeating-linear-gradient(135deg, rgba(105,221,118,.3), rgba(105,221,118,.3) 1px, transparent 2px, transparent 2px, rgba(105,221,118,.3) 3px);
	background-image: -o-repeating-linear-gradient(135deg, rgba(105,221,118,.3), rgba(105,221,118,.3) 1px, transparent 2px, transparent 2px, rgba(105,221,118,.3) 3px);
	background-image: repeating-linear-gradient(135deg, rgba(105,221,118,.3), rgba(105,221,118,.3) 1px, transparent 2px, transparent 2px, rgba(105,221,118,.3) 3px);
	-webkit-background-size: 4px 4px;
	-moz-background-size: 4px 4px;
	background-size: 4px 4px;
	overflow: hidden;
}
body:not(.user-is-tabbing) button:focus, body:not(.user-is-tabbing) input:focus, body:not(.user-is-tabbing) select:focus, body:not(.user-is-tabbing) textarea:focus {
	outline: none;
}
/* Root Font Styles */
* {
	font-family: 'Roboto', sans-serif;
	color: #333447;
	line-height: 1.5;
}
/* Typography */
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.375rem;
}
h4 {
	font-size: 1.125rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 0.875rem;
}
p {
	font-size: 1.125rem;
	font-weight: 200;
	line-height: 1.8;
}
.font-light {
	font-weight: 300;
}
.font-regular {
	font-weight: 400;
}
.font-heavy {
	font-weight: 700;
}
/* Mapbox Map */
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}
/* Main Code Block */
.logo-container {
	height: 60px;
	width: 60px;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	background-color: #69dd76;
}
div.logo {
	z-index: 10;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
	background-image: url("../Assets/Yosemite-logo.svg");
	background-repeat: no-repeat;
	padding: auto;
	display: block;
}
div.logo:hover {
	opacity: 0.6;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all 0.3s ease;
}
.side-navigation {
	height: 100%;
	width: 60px;
	position: fixed;
	z-index: 8;
	top: 0;
	left: 0;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.53);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.53);
}
/* Sidebar Trails List */
.sidebar {
	height: 100%;
	width: 325px;
	position: fixed;
	z-index: 7;
	top: 0;
	left: 0;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.53);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.53);
}
/* Single Button Styles */
#campsiteIcon {
	background-image: url("../Assets/Campsite.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	border-top: 1px solid #69dd76;
}
#campsiteIcon:hover {
	background-image: url("../Assets/Campsite-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
	border-top: 1px solid #fff;
}
#campsiteIcon.on {
	background-image: url("../Assets/Campsite-active.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
	border-top: 1px solid #fff;
}
#campsiteIcon:hover.on {
	background-image: url("../Assets/Campsite-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
	border-top: 1px solid #fff;
}
#climbingIcon {
	background-image: url("../Assets/Climbing-area.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
}
#climbingIcon:hover {
	background-image: url("../Assets/Climbing-area-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#climbingIcon.on {
	background-image: url("../Assets/Climbing-area-active.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#climbingIcon:hover.on {
	background-image: url("../Assets/Climbing-area-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#drinkingIcon {
	background-image: url("../Assets/Water.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
}
#drinkingIcon:hover {
	background-image: url("../Assets/Water-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#drinkingIcon.on {
	background-image: url("../Assets/Water-active.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#drinkingIcon:hover.on {
	background-image: url("../Assets/Water-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#rangerIcon {
	background-image: url("../Assets/Ranger-station.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
}
#rangerIcon:hover {
	background-image: url("../Assets/Ranger-station-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#rangerIcon.on {
	background-image: url("../Assets/Ranger-station-active.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#rangerIcon:hover.on {
	background-image: url("../Assets/Ranger-station-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#marketIcon {
	background-image: url("../Assets/Market.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
}
#marketIcon:hover {
	background-image: url("../Assets/Market-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#marketIcon.on {
	background-image: url("../Assets/Market-active.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#marketIcon:hover.on {
	background-image: url("../Assets/Market-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#highcampIcon {
	background-image: url("../Assets/High-camp.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
}
#highcampIcon:hover {
	background-image: url("../Assets/High-camp-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#highcampIcon.on {
	background-image: url("../Assets/High-camp-active.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#highcampIcon:hover.on {
	background-image: url("../Assets/High-camp-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#bathroomIcon {
	background-image: url("../Assets/Bathroom.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
}
#bathroomIcon:hover {
	background-image: url("../Assets/Bathroom-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#bathroomIcon.on {
	background-image: url("../Assets/Bathroom-active.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#bathroomIcon:hover.on {
	background-image: url("../Assets/Bathroom-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#permitIcon {
	background-image: url("../Assets/Permit.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
}
#permitIcon:hover {
	background-image: url("../Assets/Permit-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#permitIcon.on {
	background-image: url("../Assets/Permit-active.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
#permitIcon:hover.on {
	background-image: url("../Assets/Permit-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
/* Information Button Styles */
.info-button-stack {
	z-index: 10;
	position: absolute;
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	bottom: 0;
	left: 0;
}
#information {
	background-image: url("../Assets/Information.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	border: none;
}
#information:hover {
	background-image: url("../Assets/Information-hover.svg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
	border: none;
}
/* Mapbox */
a.mapboxgl-ctrl-logo {
	display: none !important;
}
.mapboxgl-ctrl-top-right {
	top: 0;
	right: 0;
	padding: 25px 25px 0px 0px !important;
}
.mapboxgl-popup-content {
	padding: 22px 10px 12px !important;
	color: #fff !important;
	background: #69dd76 !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	border-top-color: #69dd76 !important;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
	border-bottom-color: #69dd76 !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
	border-right-color: #69dd76 !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
	border-left-color: #69dd76 !important;
}
.mapboxgl-popup-close-button {
	color: #fff !important;
}
.mapboxgl-popup-content p {
	color: #fff;
}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
	border-bottom-color: #69dd76 !important;
}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
	border-bottom-color: #69dd76 !important;
}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
	border-top-color: #69dd76 !important;
}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
	border-top-color: #69dd76 !important;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
.breakpoint {
	display: none;
}
.breakpoint-replace {
	display: block;
	width: max-content;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text-box {
	text-align: center;
	color: #fff;
	display: block;
	background-color: #69dd76;
	padding: 10px 30px 10px 30px;
}
}
/* Trail Items */
#search {
	cursor: default;
}
#searchInput {
	background-image: url('../Assets/Search.svg');
	background-position: 4px 4px;
	background-repeat: no-repeat;
	border: 1px solid #fff;
	border-radius: 3px;
	margin-left: 75px;
	margin-bottom: 15px;
	margin-top: 15px;
	width: 197px;
    height: 18px;
	padding: 5px 5px 5px 30px;
	line-height: 0px;
	font-size: 12px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #69dd76;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #69dd76;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #69dd76;
}
.heading {
	border-bottom: 1px solid #69dd76;
	height: 60px;
	overflow: hidden;
	background-color: #69dd76;
}
.heading h5 {
	margin-left: 75px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
	line-height: 60px;
	overflow: hidden;
	color: #fff;
	letter-spacing: .5px;
}
.listings {
	height: 100%;
	overflow: auto;
	margin-left: 60px;
}
.listings .item {
	display: block;
	border-bottom: 1px dotted #949493;
	padding: 10px 10px 10px 15px;
	text-decoration: none;
	font-weight: 400;
	font-size: 12px;
	font-family: 'Roboto Mono', monospace;
}
.listings .item:last-child {
	border-bottom: 1px dotted #949493;
	margin-bottom: 100px;
}
.listings .item .title {
	font-size: 12px;
	display: block;
	color: #3B3B3A;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	text-decoration: none;
}
.listings .item .title small {
	font-weight: 400;
}
.listings .item.active .title, .listings .item .title:hover {
	color: #69dd76;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
.listings .item:hover {
	background-color: #f8f8f8;
	-webkit-transition: all .3s;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all 0.3s ease;
}
.listings .item.active {
	color: #69dd76;
	background-color: #f8f8f8;
}
.clearfix {
	display: block;
}
.clearfix::after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
::-webkit-scrollbar {
 width: 3px;
 height: 3px;
 border-left: 0;
 background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
 background: none;
}

::-webkit-scrollbar-thumb {
 background: #69dd76;
 border-radius: 0;
}
/* Main Block Styles */
.main-block {
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 325px;
	right: 0;
	width: auto;
}
.breakpoint-replace {
	display: none;
}
.button-stack button {
	color: #69dd76;
	display: block;
	width: 70px;
	height: 70px;
	background-color: white;
	position: relative;
	top: 0;
	left: 0;
	border-bottom: 1px solid #69dd76;
	border-top: none;
	border-left: none;
	border-right: none;
}
/* End CSS Document */
